# Node 1 — Leader
NODE_NAME=node1
NODE_PASS=node1pass
IS_LEADER=true
DJANGO_URL=http://127.0.0.1:8000/api
ORACLE_URL=127.0.0.1:8001
VALIDATOR_ADDRESSES=localhost:9002,localhost:9003

# Node 2 — Validator
# NODE_NAME=node2
# NODE_PASS=node2pass
# IS_LEADER=false
# LISTEN_PORT=9002
# DJANGO_URL=http://127.0.0.1:8000/api
# ORACLE_URL=127.0.0.1:8001

# Node 3 — Validator
# NODE_NAME=node3
# NODE_PASS=node3pass
# IS_LEADER=false
# LISTEN_PORT=9003
# DJANGO_URL=http://127.0.0.1:8000/api
# ORACLE_URL=127.0.0.1:8001
